# Ignore setup
setup.conf

# ignore all subfolder of output dir
output/*/

# ignore node dependency directories
node_modules/

# ignore log files and databases
*.log
*.sql
*.sqlite

# ignore Mac files
.DS_Store

# ignore composer files
composer.lock
vendor/